.list{
    color: black;
    width: 150px;
    margin: 20px auto;
    height: 30px;
    background-color: aqua;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.list p{
    padding: 10px;
}
#deleteButton button{
    height: 20px;
    border-radius: 5px;
    border: 0;
    background-color:transparent;
    cursor: pointer;
    position: relative;
    left: 80px;
    top: -48px;
    font-family: 'Lobster', cursive;
}